* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #f2f7fb;
}

a:focus, a:hover {
    text-decoration: none;
    color: #4099ff;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.navbar-theme {
    background: #fff !important;
}

.content{
    margin-top: 56px;
    margin-left: 220px;
}

.sidebar .active {
    color: #b7c0cd !important;
    background: #1d2531 !important;
    border-radius: unset;
}

.navbar {
    margin-bottom: 0px;
}

.sidebar {
    width: 220px;
}

.sidebar li a:hover {
    color: #fff !important;
}


.sidebar a {
    color: #b7c0cd;
}

.nav-level-2 {
    background: #222d3b;
}

.nav-level-2 li a{
    padding-left: 2em;
}

.nav-level-2 li a:hover {
    color: #42a5f5 !important;
}

.nav-level-3 {
    background: #202936;
}

.nav-level-3 li a{
    padding-left: 3em;
}

.header-navbar {
    box-shadow: 0 2px 4px 0 rgba(43,43,43,.1);
}

.pcoded-main-container {
    clear: both;
}

.pcoded-main-container {
    display: block;
    position: relative;
    background: #f2f7fb;
    min-height: calc(100vh - 70px);
}

.page-header {
    background-size: cover;
    position: relative;
    margin: 30px 35px 15px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0;
}

.page-header h5{
    margin-bottom: 0px;
}

.page-header h5+span {
    font-size: 13px;
}

.breadcrumb {
    background-color: transparent;
    margin-bottom: 0;
}

.page-header .breadcrumb {
    background: 0 0;
    margin-bottom: 0;
    float: right;
}

.page-header .breadcrumb a {
    font-size: 13px;
}

.pcoded-content {
    position: relative;
    display: block;
}

.pcoded-inner-content {
    padding: 10px;
}

.main-body .page-wrapper {
    padding: .6rem 1.5rem;
    -webkit-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
    box-shadow: 0 0 5px 0 rgba(43,43,43,.1), 0 11px 6px -7px rgba(43,43,43,.1);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 56px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px 0 0 0;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #263544;
        border-right: 1px solid #eee;
    }
}

